.wrapper {
  display: inline-block;
}

.img {
  display: block;
  width: 240px;
  height: auto;
  margin-left: 0;
  transition: all 0.2s ease;
}

@media (width <= 768px) {
  .img {
    align-content: center;
    width: 58px;
  }
}
