.wrapper {
  display: inline-block;
}

.img {
  display: block;
  width: 58px;
  height: auto;
  margin-left: -5px;
  padding-bottom: 10px;
}

@media (width >= 768px) {
  .img {
    width: 240px;
    margin-left: 0;
    padding-bottom: 0;
    transition-duration: 0.5s;
  }
}
