@use '@/styles/variables' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  padding: 0 1rem;
  background-color: var(--header-bg);
  box-shadow: $shadow-under;
}

.left {
  display: flex;
  justify-self: start;
}

.center {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 1rem;
  white-space: nowrap;
}

.pathArea {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 6rem;
  border-radius: 8px;
  font-size: $font-size-xsmall;
  color: var(--header-text);
  background-color: var(--header-path-bg);
}

.icon {
  width: 18px;
  height: 18px;
}

.chatButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 29px;
  border-radius: 5px;
  color: var(--header-chat-icon);
  background: none;
  background-color: var(--header-chat-bg);
  box-shadow: $shadow;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 1rem;
}
