@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.sharedWithMeSettingsPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  min-width: fit-content;

  .icon {
    width: 24px;
    height: 24px;
  }

  .titleIcon {
    width: 35px;
    height: 35px;
  }

  .sectionsWrapper {
    display: flex;
  }

  .titleWrapper {
    display: flex;
    align-items: center;
    grid-column: 1 / span 2;
    gap: 10px;
    height: 68px;
    border-bottom: 1px solid $gray-1;
    font-family: $font-family-silkscreen;
    font-size: $font-size-medium;
    text-align: left;
    flex-flow: row nowrap;

    .titleIcon {
      width: 35px;
      height: 35px;
    }
  }

  .sectionLabel {
    display: flex;
    flex-direction: column;
    border-right: 1px solid $gray-1;
    font-family: $font-family-silkscreen;
    font-size: $font-size-small;

    @include mobile {
      display: none;
    }

    .label {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 19px 16px;
    }
  }

  .contentArea {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 86px;
    box-sizing: border-box;
    padding: 1rem;
    padding: 17px 34px;
    border-radius: 8px;
    flex-flow: column nowrap;

    @include mobile {
      min-width: 460px;
      padding: 0;
    }
  }
}
