@use '@/styles/variables' as *;

.profileArea {
  position: relative;
}

.profileButton {
  display: flex;
  align-items: center;
  border: none;
  font-weight: $font-weight-medium;
  color: var(--header-username);
  background: none;
  cursor: pointer;
  gap: 0.5rem;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: $green;
  border-radius: 50%;
}
