@use '@/styles/variables' as *;

.profileArea {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;

  @media (width <= 768px) {
    gap: 0.5rem;
  }
}

.chatButton {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 29px;
  border-radius: 5px;
  color: var(--header-chat-icon);
  background: none;
  background-color: var(--header-chat-bg);
  box-shadow: $shadow;
  cursor: pointer;

  // 900px 초과에서는 숨기기 (toggle이 있을 때)
  @media (width > 900px) {
    display: none;
  }
}

.chatIcon {
  width: 18px;
  height: 18px;
}

.profileButton {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  border: none;
  font-weight: $font-weight-medium;
  background: none;
  cursor: pointer;

  &.lightModeOnly {
    color: $gray-5;
  }

  &.darkModeSupport {
    color: var(--header-username);
  }
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $green;
}
