@use '@/styles/variables' as *;

.chat-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;

  &--my {
    flex-direction: row-reverse;
    align-items: flex-end;

    .chat-message__bubble {
      border-radius: 10px 25px 0 10px;
    }
  }

  &--other {
    .chat-message__bubble {
      border-radius: 25px 10px 10px 0;
    }

    flex-direction: row;
    align-items: flex-start;
  }
}

.chat-message__bubble {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  max-width: 280px;
  padding: 11px 16px;
  background-color: $white-1;
  box-shadow: $shadow-under;
  transition: background-color 0.3s ease;

  .dark & {
    background-color: $gray-2;
  }
}

// 아바타 컨테이너
.chat-message__avatar-container {
  position: relative;
  flex-shrink: 0;
  width: 34px;
  height: 34px;
}

// 프로필 이미지
.chat-message__avatar-image {
  width: 34px;
  height: 34px;
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 50%;
  object-fit: cover;

  .dark & {
    border-color: rgb(255 255 255 / 20%);
  }
}

// 기존 아바타 스타일 (fallback용)
.chat-message__avatar {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  font-size: $font-size-xxsmall;
  font-weight: $font-weight-extra-bold;
  color: $white-2;

  &--green {
    background-color: #00a096;
  }

  &--pink {
    background-color: #ff5ec1;
  }

  &--yellow {
    background-color: #7ea000;
  }
}

.chat-message__content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.chat-message__user-name {
  align-self: flex-start;
  font-size: $font-size-xxsmall;
  font-weight: $font-weight-bold;
  color: $black-1;

  .dark & {
    color: $white-2;
  }
}

.chat-message__text {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-size: $font-size-xxsmall;
  font-weight: $font-weight-regular;
  line-height: 1.3;
  text-align: left;
  white-space: pre-wrap;

  //   word-break: break-word;
  word-break: break-all;
  color: $black-1;

  .dark & {
    color: $white-2;
  }
}

.chat-message__reference {
  font-weight: $font-weight-bold;
  color: $orange;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.chat-message__time {
  margin-left: 15px;
  font-size: $font-size-xxsmall;
  font-weight: $font-weight-regular;
  color: $black-1;

  .dark & {
    color: $white-2;
  }
}

.chat-message__unread-number {
  align-self: flex-end;
  font-size: $font-size-xxxsmall;
  font-weight: $font-weight-medium;
  line-height: 1.67;
  color: $black-1;

  .dark & {
    color: $white-2;
  }
}
