@use './reset'; // 리셋 SCSS
@use './variables'; // 변수 SCSS
@use './fonts';

// 루트 스타일링
#root {
  margin: 0 auto;
  text-align: center;
}

// 링크 스타일링
a {
  font-weight: 500;
  text-decoration: inherit;
  color: #646cff;

  &:hover {
    color: #535bf2;
  }
}

// 바디 스타일링
body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  line-height: variables.$default-line-height;
}

// 버튼 스타일링
button {
  border: none;
  outline: none;
  cursor: pointer;
}

// light / dark mode header
:root {
  // light mode
  --header-bg: #{variables.$white-2};
  --header-text: #{variables.$gray-5};
  --header-path-bg: #{variables.$gray-10};
  --header-chat-bg: #{variables.$white-2};
  --header-chat-icon: #{variables.$gray-5};
  --header-username: #{variables.$gray-5};
}

.dark {
  // dark mode
  --header-bg: #{variables.$gray-1};
  --header-text: #{variables.$white-2};
  --header-path-bg: #{variables.$gray-3};
  --header-chat-bg: #{variables.$gray-5};
  --header-chat-icon: #{variables.$white-2};
  --header-username: #{variables.$white-1};
}
