@use '@/styles/variables' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  padding: 0 1rem;
  background-color: var(--header-bg);
  box-shadow: $shadow-under;
}

.left {
  display: flex;
  justify-self: start;
}

.center {
  justify-self: center;
}

.right {
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 1rem;
}
