@use '@/styles/variables' as *;

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  padding: 0 1rem;
}

.center {
  position: absolute;
  left: 50%;
  display: flex;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;
  transform: translateX(-50%);
}

.pathArea {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 6rem;
  border-radius: 8px;
  font-size: $font-size-xsmall;
  color: var(--header-text);
  background-color: var(--header-path-bg);
}

.icon {
  width: 18px;
  height: 18px;
}

.chatButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 29px;
  border-radius: 5px;
  color: var(--header-chat-icon);
  background: none;
  background-color: var(--header-chat-bg);
  box-shadow: $shadow;
  cursor: pointer;
}

.rightArea {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.toggleButton {
  border: none;
  background: none;
  cursor: pointer;
}
