@use '@/styles/variables' as vars;

.sidebar {
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 44px;
  height: 1024px;
  padding: 12px 0;
  background-color: vars.$gray-9;

  :global(.dark) & {
    background-color: vars.$black-2;
  }
}

.top,
.bottom {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 29px;
  padding: 0;
  border-radius: 5px;
  color: vars.$gray-5;
  background-color: vars.$white-2;
  cursor: pointer;

  :global(.dark) & {
    color: vars.$white-2;
    background-color: vars.$gray-5;
  }

  &:hover {
    color: vars.$white-2;
    background-color: vars.$gray-5;

    :global(.dark) & {
      color: vars.$gray-5;
      background-color: vars.$white-2;
    }
  }

  .iconImage {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
  }
}
