@use '@/styles/variables' as *;

.RepoLayout {
  display: grid;
  grid-template:
    'header header' 56px
    'sidebar content' calc(100vh - 56px) / auto 1fr;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $white-1;
}

.RepoLayoutDark {
  background-color: $gray-1;
}

:global(header) {
  z-index: 100;
  grid-area: header;
}

:global(aside),
:global(.sidebar) {
  z-index: 50;
  grid-area: sidebar;
}

:global(.content-area) {
  position: relative;
  grid-area: content;
  height: calc(100vh - 56px);
  overflow: hidden;
}
