@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.privateSettingsPage {
  display: flex;
  justify-content: flex-start;
  min-width: fit-content;
  font-family: $font-family-silkscreen;
  text-align: left;
  user-select: none;
  flex-flow: column nowrap;

  .icon {
    width: 24px;
    height: 24px;
  }

  .titleIcon {
    width: 35px;
    height: 35px;
  }

  .sectionsWrapper {
    display: flex;
  }

  .backButton {
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    background: none;

    &:hover {
      transform: scale(1.2) translateY(3px);
    }
  }

  .titleWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-column: 1 / span 2;
    gap: 10px;
    height: 68px;
    font-size: $font-size-medium;
    flex-flow: row nowrap;
  }

  .sectionLabel {
    display: flex;
    flex-direction: column;
    width: 228px;
    border-right: 1px solid $gray-1;
    font-size: $font-size-small;

    @include mobile {
      display: none;
    }

    .label {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      padding: 19px 16px;
      cursor: pointer;
    }
  }

  .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $gray-1;
  }

  .contentArea {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 86px;
    box-sizing: border-box;
    padding: 17px 34px;
    border-radius: 8px;
    flex-flow: column nowrap;

    @include mobile {
      min-width: 460px;
      padding: 0;
    }
  }
}
