@use '@/styles/variables' as *;

.sharedByMeSettingsPage {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 228px 1fr;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: $font-family-silkscreen;
  text-align: left;
  user-select: none;

  .icon {
    width: 24px;
    height: 24px;
  }

  .redColor {
    color: $red;
  }

  .titleWrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    grid-column: 1 / span 2;
    gap: 10px;
    height: 68px;
    border-bottom: 1px solid $gray-1;
    font-size: $font-size-medium;

    .titleIcon {
      width: 35px;
      height: 35px;
    }
  }

  .sectionLabel {
    display: flex;
    flex-direction: column;
    border-right: 1px solid $gray-1;
    font-size: $font-size-small;

    .label {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 19px 16px;
    }
  }

  .contentArea {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 86px;
    box-sizing: border-box;
    padding: 1rem;
    padding: 17px 34px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
}
