@use '@/styles/variables' as vars;

.sidebar {
  position: fixed;
  left: 0;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 44px;
  height: calc(100vh - 56px);
  padding: 12px 0;
  border-right: 1px solid vars.$gray-8;
  background-color: vars.$gray-10;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 29px;
  padding: 0;
  border: 1px solid vars.$gray-8;
  border-radius: 5px;
  color: vars.$black-1;
  background-color: vars.$white-2;
  cursor: pointer;

  &:hover {
    border: none;
    color: vars.$white-1;
    background-color: vars.$gray-5;
  }

  &.active {
    border: none;
    color: vars.$white-1;
    background-color: vars.$orange;

    &:hover {
      border: none;
      color: vars.$white-1;
      background-color: vars.$gray-5;
    }
  }

  .iconImage {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
  }
}
